body,
html {
  height: 100%;
  margin: 0;
  background-color: aquamarine;
  background-size: cover;
}
.tab {
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.tab button {
  background-color: inherit;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
  font-size: medium;
}
.tab button:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.736);
}
.tab button.active {
  background-color: #ccc;
}
.tab .headers {
  color: white;
  font-size: 25px;
}

.instructor_table {
  border-radius: 5px solid black;
  text-align: center;
  width: 600px;
  margin-left: 150px;
}
.button_to_show_instructors {
  color: white;
  border-radius: 45px;
  border-color: green;
  margin-left: 50px;
  padding: 5px;
  margin-top: 20px;
  background-color: green;
  width: 60px;
}
.button_to_show_instructors:hover {
  background-color: darkgreen; /* Green */
  color: white;
}
.button_to_hide_instructors {
  color: white;
  border-radius: 45px;
  border-color: red;
  margin-left: 50px;
  padding: 5px;
  margin-top: 20px;
  background-color: red;
  width: 60px;
}
.button_to_hide_instructors:hover {
  background-color: darkred;
  color: white;
}
.button_to_add_instructor {
  border-radius: 45px;
  border-color: orange;
  margin-left: 50px;
  padding: 5px;
  margin-top: 20px;
  background-color: orange;
  width: 60px;
  color: white;
}
.button_to_add_instructor:hover {
  background-color: darkorange; /* Green */
  color: white;
}
.body_content{
  align-content: center;
  justify-content: center;
}
.instructor_table_body{
  border: 2px solid black;
}