body,
html {
  /* height: 100%; */
  margin: 0;
  background-color: rgb(71, 138, 0);
  /* background-size: cover; */
}
.headers-tab {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.tab-buttons {
  display: flex;
  height: inherit;
}
.button-add,
.button-home,
.button-show {
  height: 100%;
}
.home,
.add,
.show {
  height: inherit;
  width: 100px;
  background-color: black;
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.add-dropdown,
.show-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown-course,
.dropdown-student,
.dropdown-instructor {
  display: block;
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: rgba(136, 138, 0);
  border-color: black;
  border-style: solid;
  cursor: pointer;
}
.button-add:hover .add-dropdown,
.button-show:hover .show-dropdown {
  display: block;
}
.dropdown-course:hover,
.dropdown-student:hover,
.dropdown-instructor:hover {
  background-color: rgb(63, 65, 0);
}

.home:hover,
.add:hover,
.show:hover {
  background-color: grey;
}
.tab-title {
  height: inherit;
}
.title {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.tab-logged-user {
  width: 150px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.tab-logged-user:hover .logged-user-dropdown {
  display: block;
}
.logged-user {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 2cqmax;
}
.logged-user-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  width: inherit;
}
.dropdown-view-profile,
.dropdown-logout {
  display: block;
  text-align: center;
  width: inherit;
  height: 50px;
  background-color: rgba(136, 138, 0);
  border-color: black;
  border-style: solid;
  cursor: pointer;
}
.dropdown-view-profile:hover,
.dropdown-logout:hover {
  background-color: rgb(63, 65, 0);
}

.fields {
  text-align: center;
  display: block;
  margin-left: 30%;
  margin-top: 100px;
}
.fields_1,
.fields_2,
.fields_3,
.fields_4 {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.fields_5 {
  margin-top: 50px;
  text-align: center;
  width: 450px;
  font-size: larger;
  margin-left: 80px;
}
#ic,
#in,
#dp,
#cn_drop_down {
  border-radius: 5px;
  font-size: large;
  margin-bottom: 10px;
  margin-left: 90px;
  height: 35px;
  margin-top: 10px;
}
#cn_drop_down {
  width: 195px;
  background-color: rgba(24, 24, 24, 0.867);
  color: white;
}

.inline_buttons {
  margin-top: 30px;
  position: absolute;
  left: 48%;
  display: inline-block;
}
.inline_buttons_css {
  left: 43%;
}

#submitInstructor {
  border-radius: 5px;
  border-color: green;
  margin-top: 10px;
  background-color: green;
  height: 40px;
  color: white;
  margin-right: 20px;
  width: 80px;
  font-size: large;
}
#submitInstructor:hover {
  background-color: blueviolet; /* Green */
  color: white;
}

.when_submited {
  cursor: not-allowed;
  /* background-color: green; */
}

.redirect_to_login {
  border-radius: 5px;
  border-color: rgb(140, 90, 3);
  display: none;
  background-color: rgb(255, 162, 0);
  height: 40px;
  color: white;
  font-size: large;
}
.redirect_to_login:hover {
  background-color: #0b7c0f; /* Green */
  color: white;
}

.error {
  visibility: visible;
  border: 2px solid red;
}
#error_log {
  margin-top: 150px;
  text-align: center;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: lightcoral;
  font-size: 25px;
  margin-left: 20px;
}
.diplay-property {
  display: inline-block;
  cursor: pointer;
}
