body,
html {
  height: 100%;
  margin: 0;
  background-color: darkcyan;
  background-size: cover;
}
.tab {
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  font-family: fantasy;
}
.tab button {
  background-color: inherit;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
  font-size: medium;
}
.tab button:hover {
  cursor: pointer;
  background-color: grey;
}
.tab .headers {
  color: white;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.fields {
  text-align: center;
  display: block;
  margin-left: 30%;
  margin-top: 100px;
}
.fields_1,
.fields_2,
.fields_3,
.fields_4 {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.fields_5{
  margin-top: 50px;
  text-align: center;
  width: 450px;
  font-size: larger;
  margin-left: 80px;
}
#ic,
#in,
#dp,
#cn_drop_down {
  border-radius: 5px;
  font-size: large;
  margin-bottom: 10px;
  margin-left: 90px;
  height: 35px;
  margin-top: 10px;
}
#cn_drop_down {
  width: 195px;
  background-color: rgba(24, 24, 24, 0.867);
  color: white;
}

.inline_buttons {
  margin-top: 30px;
  position: absolute;
  left: 48%;
  display: inline-block;
}
.inline_buttons_css {
  left: 43%;
}

#submitInstructor {
  border-radius: 5px;
  border-color: green;
  margin-top: 10px;
  background-color: green;
  height: 40px;
  color: white;
  margin-right: 20px;
  width: 80px;
  font-size: large;
}
#submitInstructor:hover {
  background-color: blueviolet; /* Green */
  color: white;
}

.when_submited {
  cursor: not-allowed;
}

.redirect_to_login {
  border-radius: 5px;
  border-color: rgb(140, 90, 3);
  display: none;
  background-color: rgb(255, 162, 0);
  height: 40px;
  color: white;
  font-size: large;
}
.redirect_to_login:hover {
  background-color: #0b7c0f; /* Green */
  color: white;
}

.error {
  visibility: visible;
  border: 2px solid red;
}
#error_log {
  margin-top: 150px;
  text-align: center;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: lightcoral;
  font-size: 25px;
  margin-left: 20px;
}
.diplay-property {
  display: inline-block;
  cursor: pointer;
}
