body {
  background-color: rgb(71, 138, 0);
  margin: 0%;
  font-family: Arial;
}
.headers-tab {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.tab-buttons {
  display: flex;
  height: inherit;
}
.button-add,
.button-home,
.button-show {
  height: 100%;
}
.home,
.add,
.show {
  height: inherit;
  width: 100px;
  background-color: black;
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.add-dropdown,
.show-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown-course,
.dropdown-student,
.dropdown-instructor {
  display: block;
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: rgba(136, 138, 0);
  border-color: black;
  border-style: solid;
  cursor: pointer;
}
.button-add:hover .add-dropdown,
.button-show:hover .show-dropdown {
  display: block;
}
.dropdown-course:hover,
.dropdown-student:hover,
.dropdown-instructor:hover {
  background-color: rgba(136, 138, 0, 0.5);
}

.home:hover,
.add:hover,
.show:hover {
  background-color: grey;
}
.tab-title {
  height: inherit;
}
.title {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.tab-logged-user {
  width: 150px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.tab-logged-user:hover .logged-user-dropdown {
  display: block;
}
.logged-user {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 2cqmax;
}
.logged-user-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  width: inherit;
}
.dropdown-view-profile,
.dropdown-logout {
  display: block;
  text-align: center;
  width: inherit;
  height: 50px;
  background-color: rgba(136, 138, 0);
  border-color: black;
  border-style: solid;
  cursor: pointer;
}
.dropdown-view-profile:hover,
.dropdown-logout:hover {
  background-color: rgba(136, 138, 0, 0.5);
}
