body,
html {
  height: 100%;
  margin: 0;
  background-color: darkcyan;
  background-size: cover;
}
.tab {
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  font-family: fantasy;
}
.tab button {
  background-color: inherit;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
  font-size: medium;
}
.tab button:hover {
  cursor: pointer;
  background-color: grey
}
.tab .headers {
  color: white;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.body_content {
  display: grid;
}
.instructor_table {
  margin: 10px;
  border: 2px solid black;

  border-radius: 5px;
}
th {
  border: 2px solid black;
  padding: 20px;
  background-color: cornsilk;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.instructor_table td {
  background-color: grey;
  color: white;
  text-align: center;
  border: 1px solid black;
  font-size: medium;
}
tr:hover td {
  background-color: coral;
  color: black;
font-weight: bold;
}
.delete_button {
  border-radius: 4px;
  border-color: darkred;
  background-color: red;
  color: white;
}
.delete_button:hover {
  background-color: darkred;
  color: white;
  cursor: pointer;
}
