body,
html {
  height: 100%;
  margin: 0;
  background-color: rgb(71, 138, 0);
  background-size: cover;
  overflow: hidden;
}
.tab {
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  font-family: fantasy;
}
.tab button {
  background-color: inherit;
  border: 2px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
  font-size: medium;
}
.tab button:hover {
  cursor: pointer;
  background-color: grey;
}
.tab button.active {
  background-color: #ccc;
}
.tab .headers {
  color: white;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 5px;
}
#instructor_name {
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-color: white;
    border-radius: 5px;
    width: 150px;
  }