body,
html {
  /* height: 100%; */
  margin: 0;
  background-color: rgb(71, 138, 0);
  /* background-size: cover; */
  overflow: hidden;
}

.headers-tab {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.tab-buttons {
  display: flex;
  height: inherit;
}
.button-add,
.button-home,
.button-show {
  height: 100%;
}
.home,
.add,
.show {
  height: inherit;
  width: 100px;
  background-color: black;
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.add-dropdown,
.show-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown-course,
.dropdown-student,
.dropdown-instructor {
  display: block;
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: rgba(136, 138, 0);
  border-color: black;
  border-style: solid;
  cursor: pointer;
}
.button-add:hover .add-dropdown,
.button-show:hover .show-dropdown {
  display: block;
}
.dropdown-course:hover,
.dropdown-student:hover,
.dropdown-instructor:hover {
  background-color: rgb(63, 65, 0);
}

.home:hover,
.add:hover,
.show:hover {
  background-color: grey;
}
.tab-title {
  height: inherit;
}
.title {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.tab-logged-user {
  width: 150px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.tab-logged-user:hover .logged-user-dropdown {
  display: block;
}
.logged-user {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 2cqmax;
}
.logged-user-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  width: inherit;
}
.dropdown-view-profile,
.dropdown-logout {
  display: block;
  text-align: center;
  width: inherit;
  height: 50px;
  background-color: rgba(136, 138, 0);
  border-color: black;
  border-style: solid;
  cursor: pointer;
}
.dropdown-view-profile:hover,
.dropdown-logout:hover {
  background-color: rgb(63, 65, 0);
}

#instructor_name {
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-color: white;
  border-radius: 5px;
  width: 150px;
}
.body_content {
  display: block;
}

.level_one {
  display: flex;
}
.basic_information,
.account_information {
  border-width: 2px;
  border-radius: 2px;
  border-color: black;
  border-style: dotted;
  width: 50%;
  /* height: 50%; */
}
.basic_information h1,
.account_information h1 {
  text-align: center;
}
.name_row,
.code_row,
.email_row,
.password_row {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 25px;
  width: 400px;
  margin-left: 25%;
}
.name_row h2,
.code_row h2,
.email_row h2,
.password_row h2 {
  margin-top: 0%;
}
.name_row input,
.code_row input,
.email_row input,
.password_row input {
  width: 200px;
  height: 22px;
}
.name_row button,
.code_row button,
.email_row button,
.password_row button {
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 70px;
}
.name_row button:hover,
.code_row button:hover,
.email_row button:hover,
.password_row button:hover {
  background-color: rgb(28, 240, 24);
}
.course_information_headers {
  display: flex;
  margin-left: 46%;
  margin-top: 25px;
  margin-bottom: 25px;
  /* justify-content: space-evenly; */
  /* padding-left: 220px; */
}
.course_information_headers h1 {
  width: 400px;
  justify-content: center;
  display: contents;
}
.course_information_headers button {
  height: 35px;
  margin-left: 73%;
  border-radius: 5px;
  cursor: pointer;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 70px;
}
.course_information_headers button:hover {
  background-color: rgb(28, 240, 24);
}
.courses_table_div {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.courses_table {
  width: 300px;
  border-radius: 2px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-collapse: collapse;
}
.courses_table th {
  border-radius: 2px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-collapse: collapse;
}
.courses_table td {
  border-radius: 2px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-collapse: collapse;
  text-align: center;
}
