version: '3.9'

services:
  college_adminstration:
    container_name: collegeadminstration
    build:
      context: .
      dockerfile: Dockerfile
    image: collegeadminstration
    # depends_on:
    #   - db
    env_file:
      - .env
    environment:
      # DB_HOST: ${DB_HOST}
      # DB_PORT: ${DB_PORT}
      # DB_USER: ${DB_USER}
      # DB_PASSWORD: ${DB_PASSWORD}
      # DB_NAME: ${DB_NAME}
      # PORT: ${PORT}
      # SSL_MODE: ${SSL_MODE}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB_NAME: ${POSTGRES_DB_NAME}
      PORT: ${PORT}
      SSL_MODE: ${SSL_MODE}

    ports:
      - 5050:5050
      - 8080:8080
  # db:
  #   image: postgres
  #   environment:
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: password
  #   ports:
  #     - 5432:5432
  #   volumes:
  #     - pg_db:/var/lib/postgresql/data
# volumes:
#   pg_db:
#     driver: local